<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>My Photo Gallery</title>
  </head>
  <body>
    <div class="image-modal">
      <div class="fullscreen-image-container">
        <img src="img/img-1.jpg" alt="Fullscreen Image" />
      </div>
    </div>

    <div class="container">
      <div class="col-title">
        <h1 class="title">My Photo Gallery</h1>
      </div>
      <div class="col-images">
        <div class="image-container image-1">
          <img src="img/img-1.jpg" alt="Gallery Image" />
        </div>
        <div class="image-container image-2">
          <img src="img/img-2.jpg" alt="Gallery Image" />
        </div>
        <div class="image-container image-3">
          <img src="img/img-3.jpg" alt="Gallery Image" />
        </div>
        <div class="image-container image-4">
          <img src="img/img-4.jpg" alt="Gallery Image" />
        </div>
        <div class="image-container image-5">
          <img src="img/img-5.jpg" alt="Gallery Image" />
        </div>
        <div class="image-container image-6">
          <img src="img/img-6.jpg" alt="Gallery Image" />
        </div>
        <div class="image-container image-7">
          <img src="img/img-7.jpg" alt="Gallery Image" />
        </div>
        <div class="image-container image-8">
          <img src="img/img-8.jpg" alt="Gallery Image" />
        </div>
        <div class="image-container image-9">
          <img src="img/img-9.jpg" alt="Gallery Image" />
        </div>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
